.searchDiv {
    margin-bottom: 4px;
}

.justify-content-center{
    padding: 4px 0 0 3px;
}

#header {
    text-align: center;
    color: balck;
}

.side-div {
    background-color: #424B55;
}




/* .btn-info {
    color: #A9E6E1;
    #94C2E4;
    #F5B8A5;
} */

