body {
    margin: 10px;
}
.searchDiv {
    margin-bottom: 4px;
}

.justify-content-center{
    padding: 4px 0 0 3px;
}

#header {
    text-align: center;
    color: balck;
}

.side-div {
    
}

.col {
    border: black 2px solid;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }

/* .btn-info {
    color: #A9E6E1;
    #94C2E4;
    #F5B8A5;
} */

