.searchDiv {
    margin-bottom: 4px;
}

.justify-content-center{
    padding: 4px 0 0 3px;
}

#header {
    text-align: center;
    color: balck;
}

.side-div {
    background-color: #A4A5A0;
}

.col {
    border: black 2px solid;
}

.box {
    padding: 0 5px 0 5px;
    margin: 5px;
}
.box .inner {
    background-color: #fff;
}

/* .btn-info {
    color: #A9E6E1;
    #94C2E4;
    #F5B8A5;
} */

